In [1]:
# Import semua library
import glob
import pandas as pd
from sklearn.cluster import KMeans
import numpy as np


# Memanggil semua data/file yang di butuhkan
file_1 = pd.read_csv('../Data/Data Seleksi.csv') # CSV DPP-IV
file_2 = pd.read_csv('../Data/chembl_27.smi', names=["Smiles"]) # CSV CHEMBL
padel_1 = pd.read_csv('../Data/Padel_DPPIV.csv') # CSV Padel DPP-IV
padel_2 = pd.read_csv('../Data/Padel_CHEMBL.csv') # CSV Padel CHEMBL

padel_1

                     Name   ALogP    ALogp2      AMR       apol  TopoPSA
0        AUTOGEN_smiles_1 -2.4427  5.966783  58.5798  64.881618   112.73
1        AUTOGEN_smiles_2 -2.2658  5.133850  54.2512  50.160239    61.44
2        AUTOGEN_smiles_3  0.2408  0.057985  47.6729  40.564688    71.63
3        AUTOGEN_smiles_4 -2.7535  7.581762  50.6752  38.791446    46.33
4        AUTOGEN_smiles_5 -1.4117  1.992897  62.1044  55.908239    75.43
...                   ...     ...       ...      ...        ...      ...
3809  AUTOGEN_smiles_3810  0.4517  0.204033  34.4106  65.346274   124.26
3810  AUTOGEN_smiles_3811 -1.8393  3.383024  67.8468  62.463032   135.93
3811  AUTOGEN_smiles_3812 -0.7136  0.509225  86.1764  78.892583   108.77
3812  AUTOGEN_smiles_3813 -0.9454  0.893781  45.5899  50.928274    93.30
3813  AUTOGEN_smiles_3814 -1.8077  3.267779  35.9975  51.446274    90.37

[3814 rows x 6 columns]

In [2]:
# Mengambil kolom smiles dan label 
file_1 = file_1[["Smiles", "Label"]]
file_1

                                                 Smiles  Label
0     NC(CC(=O)N1CCC[C@H]1C(=O)NCc1ccc(C(=O)O)cc1)Cc...      1
1         O=C(NCc1ccccc1)[C@@H]1CN[C@H](C(=O)N2CCCC2)C1      1
2                   N[C@@H](CC(=O)N1CCSC1)Cc1ccc(F)cc1F      1
3                          N[C@H](C(=O)N1CCCC1)C1CCCCC1      1
4     N[C@H](C(=O)N1CCC(F)(F)C1)[C@H]1CC[C@H](NC(=O)...      1
...                                                 ...    ...
3809  O=[N+]([O-])c1cccc(/C=N/N2C(c3ccccc3)=Nc3ccccc...      1
3810  CS(=O)(=O)n1cc2c(n1)CN([C@@H]1C[C@H](N)C(c3cc(...      1
3811  CC#CCn1c(N2CCC[C@@H](N)C2)nc2c1C(=O)N(Cc1nc(C)...      1
3812   O=c1cc(N2CCNCC2)n(Cc2ccccc2[N+](=O)[O-])c2ccnn12      1
3813       O=C(N/N=C/c1c(O)ccc2ccccc12)c1n[nH]c2c1CCCC2      1

[3814 rows x 2 columns]

In [3]:
# Memasukan nilai descriptor pada csv DPP-IV
file_1["ALogP"] = padel_1.ALogP # add column ALogP
file_1["ALogp2"] = padel_1.ALogp2 # add column ALogp2
file_1["AMR"] = padel_1.AMR # add column AMR
file_1["apol"] = padel_1.apol # add column apol
file_1["TopoPSA"] = padel_1.TopoPSA # add column TopoPSA
file_1

,Smiles,Label,ALogP,ALogp2,AMR,apol,TopoPSA
0,NC(CC(=O)N1CCC[C@H]1C(=O)NCc1ccc(C(=O)O)cc1)Cc...,1,-2.4427,5.966783,58.5798,64.881618,112.73
1,O=C(NCc1ccccc1)[C@@H]1CN[C@H](C(=O)N2CCCC2)C1,1,-2.2658,5.133850,54.2512,50.160239,61.44
2,N[C@@H](CC(=O)N1CCSC1)Cc1ccc(F)cc1F,1,0.2408,0.057985,47.6729,40.564688,71.63
3,N[C@H](C(=O)N1CCCC1)C1CCCCC1,1,-2.7535,7.581762,50.6752,38.791446,46.33
4,N[C@H](C(=O)N1CCC(F)(F)C1)[C@H]1CC[C@H](NC(=O)...,1,-1.4117,1.992897,62.1044,55.908239,75.43
...,...,...,...,...,...,...,...
3809,O=[N+]([O-])c1cccc(/C=N/N2C(c3ccccc3)=Nc3ccccc...,1,0.4517,0.204033,34.4106,65.346274,124.26
3810,CS(=O)(=O)n1cc2c(n1)CN([C@@H]1C[C@H](N)C(c3cc(...,1,-1.8393,3.383024,67.8468,62.463032,135.93
3811,CC#CCn1c(N2CCC[C@@H](N)C2)nc2c1C(=O)N(Cc1nc(C)...,1,-0.7136,0.509225,86.1764,78.892583,108.77
3812,O=c1cc(N2CCNCC2)n(Cc2ccccc2[N+](=O)[O-])c2ccnn12,1,-0.9454,0.893781,45.5899,50.928274,93.30
3813,O=C(N/N=C/c1c(O)ccc2ccccc12)c1n[nH]c2c1CCCC2,1,-1.8077,3.267779,35.9975,51.446274,90.37

In [4]:
# Memasukan nilai label -1 & nilai descriptor pada csv CHEMBL
file_2["Label"] = -1 # add label set to -1
file_2["ALogP"] = padel_2.ALogP # add column ALogP
file_2["ALogp2"] = padel_2.ALogp2 # add column ALogp2
file_2["AMR"] = padel_2.AMR # add column AMR
file_2["apol"] = padel_2.apol # add column apol
file_2["TopoPSA"] = padel_2.TopoPSA # add column TopoPSA
file_2

,Smiles,Label,ALogP,ALogp2,AMR,apol,TopoPSA
0,Brc1cccc(Nc2ncnc3ccncc23)c1NCCN1CCOCC1,-1,-0.0233,0.000543,47.9894,57.894653,75.20
1,COc1c(O)cc(O)c(C(=N)Cc2ccc(O)cc2)c1O,-1,-1.9638,3.856510,28.7265,41.511895,114.00
2,CCOC(=O)c1cc2cc(C(=O)O)ccc2[nH]1,-1,-0.3986,0.158882,26.8015,32.762723,79.39
3,CC(=O)O[C@H]1/C(C)=C\[C@@H]2OC(=O)[C@]3(C)O[C@...,-1,-0.1488,0.022141,135.2805,83.710548,184.49
4,C[C@H](NC(=O)OCc1ccccc1)C(=O)N[C@@H](C)C(=O)NN...,-1,-3.6904,13.619052,96.5485,89.288962,206.52
...,...,...,...,...,...,...,...
1667412,CC(=O)[C@H]1CC[C@H]2[C@@H]3CCC4=CC(=O)C=C[C@]4...,-1,0.5237,0.274262,93.3634,56.702618,51.21
1667413,CC(C)=CCC/C(C)=C\C(N)=O,-1,2.0469,4.189800,51.3869,30.837481,43.09
1667414,CCOC(=O)C(C#N)C(=N)C1C(=O)OC2CCCCC21,-1,-1.1547,1.333332,62.0061,42.050274,100.24
1667415,c1ccc(C2CC(C3CC(c4ccccc4)OC(c4ccccc4)C3)CC(c3c...,-1,-0.0996,0.009920,40.2426,84.114962,18.46
1667416,C[n+]1cn([C@@H]2O[C@H](CO[P@@](=O)(S)OP(=O)(O)...,-1,-3.9888,15.910525,100.7119,63.078653,335.42

In [5]:
# Menggabungkan semua data kedalam 1 dataframes
final_data = pd.concat([file_1, file_2])
final_data

,Smiles,Label,ALogP,ALogp2,AMR,apol,TopoPSA
0,NC(CC(=O)N1CCC[C@H]1C(=O)NCc1ccc(C(=O)O)cc1)Cc...,1,-2.4427,5.966783,58.5798,64.881618,112.73
1,O=C(NCc1ccccc1)[C@@H]1CN[C@H](C(=O)N2CCCC2)C1,1,-2.2658,5.133850,54.2512,50.160239,61.44
2,N[C@@H](CC(=O)N1CCSC1)Cc1ccc(F)cc1F,1,0.2408,0.057985,47.6729,40.564688,71.63
3,N[C@H](C(=O)N1CCCC1)C1CCCCC1,1,-2.7535,7.581762,50.6752,38.791446,46.33
4,N[C@H](C(=O)N1CCC(F)(F)C1)[C@H]1CC[C@H](NC(=O)...,1,-1.4117,1.992897,62.1044,55.908239,75.43
...,...,...,...,...,...,...,...
1667412,CC(=O)[C@H]1CC[C@H]2[C@@H]3CCC4=CC(=O)C=C[C@]4...,-1,0.5237,0.274262,93.3634,56.702618,51.21
1667413,CC(C)=CCC/C(C)=C\C(N)=O,-1,2.0469,4.189800,51.3869,30.837481,43.09
1667414,CCOC(=O)C(C#N)C(=N)C1C(=O)OC2CCCCC21,-1,-1.1547,1.333332,62.0061,42.050274,100.24
1667415,c1ccc(C2CC(C3CC(c4ccccc4)OC(c4ccccc4)C3)CC(c3c...,-1,-0.0996,0.009920,40.2426,84.114962,18.46
1667416,C[n+]1cn([C@@H]2O[C@H](CO[P@@](=O)(S)OP(=O)(O)...,-1,-3.9888,15.910525,100.7119,63.078653,335.42

In [6]:
final_data.dropna(inplace=True)
final_data
final_data.isna().sum()

Smiles     0
Label      0
ALogP      0
ALogp2     0
AMR        0
apol       0
TopoPSA    0
dtype: int64

In [7]:
# Clustering menggunakan k-means
X = final_data.iloc[:,2:].values

# list_alogp, list_alogp2, list_amr, list_apol, list_topopsa = [], [], [], [], []

# list_alogp = final_data['ALogP'].tolist()
# list_alogp2 = final_data['ALogp2'].tolist()
# list_amr = final_data['AMR'].tolist()
# list_apol = final_data['apol'].tolist()
# list_topopsa = final_data['TopoPSA'].tolist()

# total_row = len(final_data.index)
# # X = np.array([len(final_data.index),(final_data[['ALogP', 'ALogp2', 'AMR', 'apol', 'TopoPSA']])])
# # X = np.array([[total_row, list_alogp], [total_row, list_alogp2], [total_row, list_amr], [total_row, list_apol], [total_row, list_topopsa]])
# # X = np.array([[list_alogp], [list_alogp2], [list_amr], [list_apol], [list_topopsa]])
# X = np.array([total_row, list_alogp], dtype=object)
kmeans = KMeans(n_clusters=20, random_state=10).fit(X)
final_data['Cluster'] = kmeans.labels_
kmeans.predict(X)

array([16, 14, 10, ..., 16,  2, 15])

In [8]:
final_data

,Smiles,Label,ALogP,ALogp2,AMR,apol,TopoPSA,Cluster
0,NC(CC(=O)N1CCC[C@H]1C(=O)NCc1ccc(C(=O)O)cc1)Cc...,1,-2.4427,5.966783,58.5798,64.881618,112.73,16
1,O=C(NCc1ccccc1)[C@@H]1CN[C@H](C(=O)N2CCCC2)C1,1,-2.2658,5.133850,54.2512,50.160239,61.44,14
2,N[C@@H](CC(=O)N1CCSC1)Cc1ccc(F)cc1F,1,0.2408,0.057985,47.6729,40.564688,71.63,10
3,N[C@H](C(=O)N1CCCC1)C1CCCCC1,1,-2.7535,7.581762,50.6752,38.791446,46.33,14
4,N[C@H](C(=O)N1CCC(F)(F)C1)[C@H]1CC[C@H](NC(=O)...,1,-1.4117,1.992897,62.1044,55.908239,75.43,12
...,...,...,...,...,...,...,...,...
1667412,CC(=O)[C@H]1CC[C@H]2[C@@H]3CCC4=CC(=O)C=C[C@]4...,-1,0.5237,0.274262,93.3634,56.702618,51.21,9
1667413,CC(C)=CCC/C(C)=C\C(N)=O,-1,2.0469,4.189800,51.3869,30.837481,43.09,5
1667414,CCOC(=O)C(C#N)C(=N)C1C(=O)OC2CCCCC21,-1,-1.1547,1.333332,62.0061,42.050274,100.24,16
1667415,c1ccc(C2CC(C3CC(c4ccccc4)OC(c4ccccc4)C3)CC(c3c...,-1,-0.0996,0.009920,40.2426,84.114962,18.46,2
1667416,C[n+]1cn([C@@H]2O[C@H](CO[P@@](=O)(S)OP(=O)(O)...,-1,-3.9888,15.910525,100.7119,63.078653,335.42,15

In [9]:
# Mencari cluster berapa yang tidak memiliki Label = 1
list_cluster = []
for x in range(len(final_data)):
    if final_data.iloc[x, 1] == 1:
        list_cluster.append(final_data.iloc[x, 7])
    elif final_data.iloc[x, 1] == -1:
        break

list_cluster = list(dict.fromkeys(list_cluster))
print(list_cluster)

[16, 14, 10, 12, 0, 13, 8, 18, 2, 1, 11, 3, 9, 6, 17, 5, 4, 15, 19]

In [10]:
list_cluster.sort()
for x in range(len(list_cluster)):
    if x != list_cluster[x]:
        cluster_for_min1 = x
        break
print("Cluster yang tidak ada 1 nya adalah : ", cluster_for_min1)

Cluster yang tidak ada 1 nya adalah :  7

In [11]:
# Cluster ke 7 merupakan cluster yang akan ditambahkan kedalam label = 0
df_jumlah_label = final_data['Label'].value_counts(ascending = True).to_frame()
kekurangan_data = df_jumlah_label.iloc[1, 0] - df_jumlah_label.iloc[0, 0]

for x in range(len(final_data)):
    if (final_data.iloc[x, 7] == cluster_for_min1) & (kekurangan_data != 0):
        kekurangan_data -= 1
        final_data.iloc[x, 1] = 0

final_data['Label'].value_counts()

-1    1663790
 1       3701
 0       3701
Name: Label, dtype: int64

In [12]:
# Export to csv
readyToExport = final_data
readyToExport.to_csv('../Data/Data Minggu ke-3.csv')
readyToExport

,Smiles,Label,ALogP,ALogp2,AMR,apol,TopoPSA,Cluster
0,NC(CC(=O)N1CCC[C@H]1C(=O)NCc1ccc(C(=O)O)cc1)Cc...,1,-2.4427,5.966783,58.5798,64.881618,112.73,16
1,O=C(NCc1ccccc1)[C@@H]1CN[C@H](C(=O)N2CCCC2)C1,1,-2.2658,5.133850,54.2512,50.160239,61.44,14
2,N[C@@H](CC(=O)N1CCSC1)Cc1ccc(F)cc1F,1,0.2408,0.057985,47.6729,40.564688,71.63,10
3,N[C@H](C(=O)N1CCCC1)C1CCCCC1,1,-2.7535,7.581762,50.6752,38.791446,46.33,14
4,N[C@H](C(=O)N1CCC(F)(F)C1)[C@H]1CC[C@H](NC(=O)...,1,-1.4117,1.992897,62.1044,55.908239,75.43,12
...,...,...,...,...,...,...,...,...
1667412,CC(=O)[C@H]1CC[C@H]2[C@@H]3CCC4=CC(=O)C=C[C@]4...,-1,0.5237,0.274262,93.3634,56.702618,51.21,9
1667413,CC(C)=CCC/C(C)=C\C(N)=O,-1,2.0469,4.189800,51.3869,30.837481,43.09,5
1667414,CCOC(=O)C(C#N)C(=N)C1C(=O)OC2CCCCC21,-1,-1.1547,1.333332,62.0061,42.050274,100.24,16
1667415,c1ccc(C2CC(C3CC(c4ccccc4)OC(c4ccccc4)C3)CC(c3c...,-1,-0.0996,0.009920,40.2426,84.114962,18.46,2
1667416,C[n+]1cn([C@@H]2O[C@H](CO[P@@](=O)(S)OP(=O)(O)...,-1,-3.9888,15.910525,100.7119,63.078653,335.42,15

In [13]:
final_data['Label'].value_counts()

-1    1663790
 1       3701
 0       3701
Name: Label, dtype: int64